* {
    margin: 0;
    padding: 0;
}

body {
    background: aliceblue;
}

main {
    margin: 20px;
}

#createWormhole {
    font-size: 1.5em;
    text-decoration: underline;
    cursor: pointer;
    color: bisque;
}